@model IEnumerable<IGrouping<int, ReSharpersCooperation.Models.TotalOrdersViewModel.TotalOrdersViewModel>>

@{
    ViewData["Title"] = "Orders";
}



<div id="inline">
    <div class="one"><h2>My Orders</h2></div>
    <div class="two">
        <div class="dropdown">
            <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @for (int i = 2018; i >= 2015; i--)
                {
                    <a asp-controller="Orders" asp-action="Search" asp-route-year="@i" class="dropdown-item">@i</a>
                }
                <a asp-controller="Orders" asp-action="Search" asp-route-year="" class="dropdown-item">All</a>
            </div>
        </div>
    </div>
</div>
@if (ViewData["Order"] != null)
{

    <div class="alert alert-success text-center" role="alert">@ViewData["Order"]</div>
}

@foreach (var item in Model)
{
    <table class="tborders">
        <tr>
            <td>
                <table class="tbOrdersHead" style="background-color: #b2e3f9">
                    <thead>
                        <tr>
                            <th>Order Placed: @item.Select(x => x.OrderDate).First().ToString("dd/MM/yyyy")</th>
                            <th>Total: @item.Select(x => x.TotalCost).First().ToString("C")</th>
                            <th>Order # @item.Key</th>
                            @if (item.Select(x => x.Shipped).First())
                            {
                                <th>
                                    <a class="btn-success btn-sm">Completed</a>
                                </th>
                            }
                            else
                            {
                                <th>
                                    <a class="btn-danger btn-sm">In Progress</a>
                                </th>}
                        </tr>
                    </thead>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="tbOrdersBody table-hover" style="background-color: #edf8fe; font-weight: bold;">
                    @foreach (var order in item)
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>Quantity: @order.Quantity</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
}
