@model ProductListViewModel


@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<nav class="btn-group">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        @if (Model.CurrentCategory == null)
        {
            <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary")" asp-route="pagination" asp-route-productPage="@i">@i</a>
        }
        else
        {
            <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary")" asp-route="category" asp-route-category="@Model.CurrentCategory" asp-route-productPage="@i">@i</a>
        }
    }
</nav>