@model ProductListViewModel


@{
    ViewData["Title"] = "List";
}
<div class="row" style="background-image: url(/images/Background/bg.jpg)">
    <aside class="col-sm-2" id="Filters">
        <div style="text-align: -webkit-center;">
            <div style="background-image: url(/images/Background/logo.jpg); background-repeat: no-repeat; background-position: center; background-size: 100%; width: 12em; height: 13em"></div>
        </div>
        <div>
            <div>@await Component.InvokeAsync("Filters")</div>
        </div>
    </aside>
    <main class="col-sm-10">
        @foreach (var p in Model.Products)
        {
            if (p.IsActive)
            {
                @Html.Partial("ProductSummary", p)
            }
        }

        <nav class="btn-group py-5">
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                @if (Model.CurrentCategory == null && Model.ListType == null && Model.CurrentLocation == null && Model.CurrentCatchType == null)
                {
                    <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-info" : "btn-secondary")" asp-route="pagination" asp-route-productPage="@i">@i</a>
                }
                else if (Model.CurrentCategory != null && Model.ListType == null)
                {
                    <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-info" : "btn-secondary")" asp-route="category" asp-route-category="@Model.CurrentCategory" asp-route-productPage="@i">@i</a>
                }
                else if (Model.CurrentCatchType!=null)
                {
                    <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-info" : "btn-secondary")" asp-route="catchtype" asp-route-catchtype="@Model.CurrentCatchType" asp-route-productPage="@i">@i</a>
                }
                else if (Model.CurrentLocation != null)
                {

                    <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-info" : "btn-secondary")" asp-route="location" asp-route-location="@Model.CurrentLocation" asp-route-productPage="@i">@i</a>
                }
                else
                {
                    <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-info" : "btn-secondary")" asp-route="search" asp-route-query="@Model.Query" asp-route-type="@Model.ListType" asp-route-productPage="@i">@i</a>

                }
            }
        </nav>
    </main>
</div>
