@model Product
@using Microsoft.AspNetCore.Identity
@using ReSharpersCooperation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<section class="card m-1 p-1" style="background-image: url(/images/Background/sea.jpg)">
    <header class="bg-faded p-1">
        <h4>
            @Model.ProductName
            <span class="badge badge-warning">@Model.Price.ToString("C")/kg</span>
            <a class="btn btn-warning btn-sm" style="float:right" asp-controller="WishList" asp-action="AddToWishList" asp-route-productNo="@Model.ProductNo" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to Wish List</a>
            @if (Model.StockNo > 0)
            {
                <a class="btn btn-success btn-sm" style="float:right" asp-controller="Cart" asp-action="AddToCart" asp-route-productNo="@Model.ProductNo" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to cart</a>
            }
            else
            {
                <button class="btn btn-danger btn-sm" style="float:right" disabled>Out of Stock</button>
            }
        </h4>
    </header>
    <div class="card-text card-body p-1">
        <div class="card-body row">
            <div class="col-sm-5" style="inline-size: min-content;">
                <img style="width: 100%; height: 50%" src="@Model.ProductImage" />
                <p>@Model.ProductDesc</p>
                <p>Ψαρεύτηκε πριν @(DateTime.Now.Subtract(@Model.CreatedDate).Days==0 ? "" : $"{DateTime.Now.Subtract(@Model.CreatedDate).Days.ToString()} Ημέρες ,")  @DateTime.Now.Subtract(@Model.CreatedDate).Hours Ώρες,@DateTime.Now.Subtract(@Model.CreatedDate).Minutes Λεπτά</p>
            </div>
            <div class="col-sm-7">
                <iframe width="100%"
                        height="100%"
                        frameborder="0" style="border: 0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBbr1yrqPmYqyBrQDEOH990JeqKo73d3aw&q=@Model.Latitude.ToString().Replace(',', '.'),@Model.Longitude.ToString().Replace(',', '.')&zoom=12" allowfullscreen></iframe>
            </div>
        </div>
        @*<div style="float:right">
                    @for (int i = 0; i < Model.Rating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                @for (int i = Model.Rating + 1; i <= 5; i++)
                {
                    <i class="fa fa-star-o"></i>

                }
            </div>*@

    </div>
</section>