@model Product
@using Microsoft.AspNetCore.Identity
@using ReSharpersCooperation.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject UserProfileRepository UserProfileRepository

<section class="card m-1 p-1" style="background-color: rgba(255,255,255, 0.9)">
    <header class="bg-faded p-1">
        <h4>
            <span class="badge" ; style="margin-left: 2%">@Model.ProductName</span>
            <span class="badge">@Model.Price.ToString("C")/kg</span>
            <a class="btn btn-warning btn-sm" asp-controller="WishList" asp-action="AddToWishList" asp-route-productNo="@Model.ProductNo" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to Wish List</a>
            @if (Model.StockNo > 0)
            {
                <a class="btn btn-success btn-sm"asp-controller="Cart" asp-action="AddToCart" asp-route-productNo="@Model.ProductNo" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to cart</a>
            }
            else
            {
                <button class="btn btn-danger btn-sm" style="float:right" disabled>Out of Stock</button>
            }
            <div class="badge" ; style="margin-left: 10%">Παραγωγός : @UserProfileRepository.GetName(Model.UserName)</div>
            <img id="@(Model.UserName + Model.ProductNo)" class="rounded-circle" width="50" height="50" src="@UserProfileRepository.GetProfilePic(Model.UserName)" />
        </h4>
    </header>
    <div class="card-text card-body p-1">
        <div class="card-body row">
            <div class="col-sm-5" style="inline-size: min-content;">
                <img style="width: 100%; height: 50%" src="@Model.ProductImage" />
                <p>@Model.ProductDesc</p>
                <p class="font-weight-bold">Ψαρεύτηκε πριν:@(DateTime.Now.Subtract(@Model.CreatedDate).Days == 0 ? "" : $"{DateTime.Now.Subtract(@Model.CreatedDate).Days.ToString()} Ημέρες ,")  @DateTime.Now.Subtract(@Model.CreatedDate).Hours Ώρες,@DateTime.Now.Subtract(@Model.CreatedDate).Minutes Λεπτά</p>
                <p class="font-weight-bold">Θαλλάσια Περιοχή: @Model.Location</p>
                <p class="font-weight-bold">Τρόπος Ψαρέματος: @Model.CatchType</p>
            </div>
            <div class="col-sm-7">
                <iframe width="100%"
                        height="100%"
                        frameborder="0" style="border: 0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBbr1yrqPmYqyBrQDEOH990JeqKo73d3aw&q=@Model.Latitude.ToString().Replace(',', '.'),@Model.Longitude.ToString().Replace(',', '.')&zoom=12" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</section>