@model IEnumerable<ReSharpersCooperation.Data.Transaction>

@{
    ViewData["Title"] = "My Transactions";
}

<div id="inline">
    <div class="one"><h2>My Transactions</h2></div>
</div>

<table class="table table-hover">
    <thead style="background-color: #b2e3f9;">
        <tr>
            <th>@Html.DisplayNameFor(model => model.TransactionNo)</th>
            <th>
                @Html.DisplayNameFor(model => model.SourceAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNo)
            </th>
        </tr>
    </thead>
    <tbody style="background-color: #edf8fe; font-weight: 500;">
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TransactionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)  €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (item.OrderId != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)

                    </td>
                }
                else
                {
                    <td>
                        N/A
                    </td>
                }
                @if (item.ProductNo != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNo)

                    </td>
                }
                else
                {
                    <td>
                        N/A
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
