@model Product
<div id="adminproddiv">
    <img class="img-fluid" style="width: 150px; height:150px" src="@Model.ProductImage"/>
</div>
<div>
    <table  id="adminprodtable">
        <tr>
            <td>Product Number</td>
            <td>@Model.ProductNo</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.ProductName</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@Model.ProductDesc</td>
        </tr>
        <tr>
            <td>Catch Type</td>
            <td>@Model.CatchType</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td>@Model.Latitude</td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>@Model.Longitude</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Model.Price.ToString("C")</td>
        </tr>
        <tr>
            <td>Stock</td>
            <td>@Model.StockNo</td>
        <tr>
            <td>Active</td>
            <td> @Html.DisplayFor(modelItem => Model.IsActive)</td>
        </tr>
        <tr>
            <td>Deleted</td>
            <td> @Html.DisplayFor(modelItem => Model.IsDeleted)</td>
        </tr>
        <tr>
            <td>Create Date</td>
            <td>
                @Model.CreatedDate.ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr>
            <td>Modified Date</td>
            <td>@Model.ModifiedDate.ToString("dd/MM/yyyy")</td>
        </tr>
        <td>Category</td>
        <td>@Model.ProductCategory</td>
        </tr>
    </table>
</div>

<style>
    #adminproddiv {
        text-align: center;
        padding-bottom: 10px;
    }
    #adminprodtable {
        border-collapse: collapse;
        margin: 0 auto;
        padding-bottom: 10px;
    }
        #adminprodtable tr:nth-child(odd) {
            text-align: left;
            background-color: #c1c7c5;
        }

        #adminprodtable td:nth-child(even) {
            text-align: center;
            padding-left: 50px;
        }
</style>