@model IEnumerable<ReSharpersCooperation.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Rating
            </th>
            <th>
                Active
            </th>
            <th>
                Deleted
            </th>
            <th>
                Create Date
            </th>
            <th>
                Last Modified
            </th>
            <th>
                Image
            </th>
            <th>
                Featured
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDesc)
                </td>
                <td>
                    @item.Price.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    <img class="img-fluid" width="150" src="@item.ProductImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFeatured)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm"asp-route-ProductNo="@item.ProductNo">Edit</a> 
                    <br />
                    <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-ProductNo="@item.ProductNo">Details</a> 
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="ProductID" value="@item.ProductNo" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
