@model IEnumerable<ReSharpersCooperation.Models.Product>

@{
    ViewData["Title"] = "All Products";
}

<div id="inline">
    <div class="one"><h2>All Products</h2></div>
    <div class="two" style="font-weight: 900;"><a asp-action="Create">Create New</a></div>
</div>

<table class="table table-hover  table-sm text-center" id="productTable">
    <thead style="background-color: #b2e3f9;">
        <tr>
            <th onclick="sortTable(0)">
                Name
            </th>
            <th onclick="sortTable(1)">
                Creator
            </th>
            <th onclick="sortTable(2)">
                Description
            </th>
            <th onclick="sortTable(3)">
                Category
            </th>
            <th onclick="sortTable(4)">
                Price
            </th>
            <th onclick="sortTable(5)">
                Stock
            </th>
            <th onclick="sortTable(6)">
                Rating
            </th>
            <th nclick="sortTable(7)">
                Paid
            </th>
            <th nclick="sortTable(8)">
                Active
            </th>
            <th onclick="sortTable(9)">
                Create Date
            </th>
            <th onclick="sortTable(10)">
                Last Modified
            </th>
            <th>
                Image
            </th>
            <th nclick="sortTable(12)">
                Featured
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color: #edf8fe; font-weight: 500;">
        @foreach (var item in Model)
        {

            <tr class="@(item.StockNo==0 ? "table-danger" : "")">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                <td>
                    @item.Price.ToString("C")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StockNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @item.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.ModifiedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <img class="img-fluid" width="150" src="@item.ProductImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFeatured)
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <a asp-action="Edit" class="btn btn-primary btn-sm btn-block" asp-route-ProductNo="@item.ProductNo">Edit</a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block details " productNo="@item.ProductNo">Details</a>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="ProductID" value="@item.ProductNo" />
                            <button type="submit" class="btn btn-danger btn-sm btn-block">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var ajaxCallURL = '/Admin/Details';
        $(function () {
            $(".details").click(function () {
                var $buttonClicked = $(this);

                var options = {
                    "backdrop": "static",
                    keyboard: true
                };

                var pn = $buttonClicked.attr('productNo');

                $.ajax({
                    type: "GET",
                    url: ajaxCallURL,
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { 'productNo': pn },
                    success: function (data) {

                        $('#modal-body').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Content load failed.");
                    }
                });
            });
            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}
