@model ReSharpersCooperation.Models.UserViewModel.AllUserViewModel

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                E-mail
            </th>
            <th>
                E-mail Confirmed
            </th>
            <th>
                Locked Status
            </th>
            <th>
                Account Balance
            </th>
            <th>
                Role
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                @item.User.UserName
            </td>
            <td>
                @item.User.Email
            </td>
            <td>
                @item.User.EmailConfirmed
            </td>
            <td>
                @item.User.LockoutEnabled
            </td>
            <td>
                @item.Balance
            </td>
            <td>
                @item.Role
                @if (item.User.HasRequestedMember)
                {
                    <a class="btn btn-primary"asp-controller="Admin" asp-action="ApproveMember" asp-route-userid="@item.User.Id">Approve Member</a>

                }
            </td>
            <td>
        
                @if (item.User.LockoutEnd == null)
                {
                <a asp-action="Ban" class="btn btn-danger btn-sm" asp-route-userid="@item.User.Id">Ban</a>
                }
                else
                {
                <a asp-action="UnBan" class="btn btn-danger btn-sm" asp-route-userid="@item.User.Id">UnBan</a>
                }



            </td>
        </tr>
        }
    </tbody>
</table>
