@using ReSharpersCooperation.Models.WishlistViewModels
@model List<WishlistSummaryViewModel>

@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count > 0)
{
    <h2>My WIshlist</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
                <th class="text-center">Quantity</th>
                <th class="text-right">ItemCost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>
                        <img class="img-fluid" width="50" height="50" src="@item.ProductImage" />
                    </td>
                    <td class="text-center">
                        <a asp-controller="wishlist" asp-action="RemoveFromWishlist" asp-route-productNo="@item.ProductNo" class="btn btn-danger btn-sm">Remove Item</a>
                    </td>
                    <td class="text-right">@(item.Cost)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2" class="text-right">Total:</td>
                <td class="text-right">@ViewData["totalprice"]</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h2>Your Cart is Empty</h2>
}
@if (ViewBag.ReturnUrl != null)
{
    <div class="text-center">
        <a class="btn btn-primary" href="@ViewBag.ReturnUrl">Continue shopping</a>
    </div>
}


