@using ReSharpersCooperation.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="btn-group-vertical btn-block">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) btn-group-vertical btn-block"><a class="btn btn-primary btn-group-vertical btn-block" asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) btn-group-vertical btn-block"><a class="btn btn-primary btn-group-vertical btn-block" asp-action="ChangePassword">Password</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) btn-group-vertical btn-block"><a class="btn btn-primary btn-group-vertical btn-block" asp-action="EditProfile">Edit My Profile</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) btn-group-vertical btn-block"><a class="btn btn-primary btn-group-vertical btn-block" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) btn-group-vertical btn-block"><a class="btn btn-primary btn-group-vertical btn-block" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>

