@model IEnumerable<ReSharpersCooperation.Models.Product>

@{
    ViewData["Title"] = "My Offer products";
}

<div id="inline">
    <div class="one py-5"><h2>My Offered products</h2></div>
</div>


<table class="table table-hover">
    <thead style="background-color: #b2e3f9;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
        </tr>
    </thead>
    <tbody style="background-color: #edf8fe; font-weight: 500;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                @if (item.ProductDesc.Length > 40)
                {
                    <td>
                        @item.ProductDesc.Substring(0, 40)...
                    </td>
                }
                else
                {
                    <td>
                        @item.ProductDesc
                    </td>
                }
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)€
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @item.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.ModifiedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <img class="img-fluid" width="150" src="@item.ProductImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
            </tr>
        }
    </tbody>
</table>
